#Home{
    
    .blob{
        position: absolute;
        z-index: 5;
        width: 100%;
        height: 100%;
        pointer-events: none;
        &::before{
            content: "";
            width: 50vh;
            height: 50vh;
            top: 25vh;
            left: -25vh;
            background-color: #fd8888;
            opacity: 0.3;
            display: block;
            position: fixed;
            border-radius: 100vw;
            filter: blur(120px);
            mix-blend-mode: multiply;
        }
        &::after{
            content: "";
            width: 50vh;
            height: 50vh;
            top: -5vh;
            right: -15vw;
            background-color: #b8dfff;
            opacity: 0.3;
            display: block;
            position: absolute;
            border-radius: 100vw;
            filter: blur(100px);
            z-index: -1;
            mix-blend-mode: multiply;
        }
    }

    .section__hero{
        padding-block: 0;
        padding-inline: 0%;
        z-index: 1;
        .column__2{
            padding-top: calc((1 - var(--stack)) * calc(60px + 20vh) + var(--stack) * calc(60px + 4rem));
            padding-inline: var(--gap);
            padding-bottom: calc((1 - var(--stack)) * 8rem + var(--stack) * 4rem);
            
            .col__left{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                h1{
                    font-size: var(--size-sp2);
                    color: var(--color-primary);
                    font-weight: 300;
                    line-height: 1;
                }
                h2{
                    font-size: var(--size-sp1);
                    color: var(--color-primary);
                    font-weight: 500;
                    line-height: 1;
                }
            }
            .col__right{
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                padding-left: calc((1 - var(--stack)) * 20% + var(--stack) * 0%);
                padding-top: calc((1 - var(--stack)) * 3rem + var(--stack) * 2rem);
                p{
                    font-size: var(--size-xl);
                    line-height: 1.2;
                    color: var(--color-primary-light);
                }
            }
        }
        .col__bottom{
            overflow: hidden;
            padding-inline: calc((1 - var(--stack)) * var(--gap) + var(--stack) * 0rem);
            video{
                width: 100%;
                height: auto;
                overflow: hidden;
                aspect-ratio: 16/9;
                border-radius: var(--radius) var(--radius) 0 0;
            }
        }
    }

    .section__intro{
        position: relative;
        overflow: hidden;
        z-index: 1;
        padding-top: calc((1 - var(--stack)) * 16vh + var(--stack) * 6rem);
        padding-bottom: calc((1 - var(--stack)) * 8vh + var(--stack) *3rem);
        padding-inline: var(--gap);
        background-color: var(--color-primary-dark);
        .column__1{
            z-index: 1;
            padding-right: calc((1 - var(--stack)) * 20% + var(--stack) * 0%);
            h2{
                color: var(--color-gray);
                font-weight: 400;
                font-size: var(--size-sp1);
                line-height: 1.2;
            }
            p{
                margin-top: calc((1 - var(--stack)) * 2rem + var(--stack) * 1rem);
                color: var(--color-gray-dark);
                line-height: 1.2;
                font-weight: 300;
                font-size: var(--size-sp2);
                max-width: calc((1 - var(--stack)) * 65% + var(--stack) * 100%);
            }
        }
        
    }

    .recent__projects{
        background-color: var(--color-primary-dark);
        padding-inline: var(--gap);
        padding-top: calc((1 - var(--stack)) * 12vh + var(--stack) * 6rem);
        .bg{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            background-color: var(--page-bg-color);
            transform-origin: right center  ;
        }
    }

    .section__clients{
        padding-inline: var(--gap);
        .column__1{
            ul.listado{
                padding-top: clamp(3rem, 5vh, 7rem);
                grid-template-columns: var(--grid6);
                gap: 2rem;
                li.client__card{
                    list-style: none;
                    border: 0px solid var(--color-gray);
                    padding: 18%;
                    border-radius: var(--radius);
                    background-color: #ffffff50;
                }
            }
        }
    }

}








