#Home{
    
    .blob{
        position: absolute;
        z-index: 5;
        width: 100%;
        height: 100%;
        pointer-events: none;
        &::before{
            content: "";
            width: 50vh;
            height: 50vh;
            top: 25vh;
            left: -25vh;
            background-color: #fd8888;
            opacity: 0.3;
            display: block;
            position: fixed;
            border-radius: 100vw;
            filter: blur(120px);
            mix-blend-mode: multiply;
        }
        &::after{
            content: "";
            width: 50vh;
            height: 50vh;
            top: -5vh;
            right: -15vw;
            background-color: #b8dfff;
            opacity: 0.3;
            display: block;
            position: absolute;
            border-radius: 100vw;
            filter: blur(100px);
            z-index: -1;
            mix-blend-mode: multiply;
        }
    }

    .section__hero{
        padding-block: 0;
        padding-inline: 0%;
        z-index: 1;
        .col__top{
            padding-left: var(--gap);
            padding-right: calc((1 - var(--stack)) * 40% + var(--stack) * 3rem);
            padding-top: calc(60px + 3rem);
            padding-bottom: calc((1 - var(--stack)) * 5rem + var(--stack) * 3rem);
            h2{
                font-size: var(--size-4xl);
                color: var(--color-secondary-dark);
            }
            p{
                font-size: var(--size-2xl);
                line-height: 1.2;
            }
        }
        .col__bottom{
            overflow: hidden;
            padding-inline: calc((1 - var(--stack)) * var(--gap) + var(--stack) * 0rem);
            video{
                width: 100%;
                height: auto;
                overflow: hidden;
                aspect-ratio: 16/9;
                border-radius: var(--radius) var(--radius) 0 0;
            }
        }
    }

    .section__intro{
        position: relative;
        overflow: hidden;
        z-index: 1;
        padding-block: calc((1 - var(--stack)) * 10rem + var(--stack) * 2rem);
        padding-inline: var(--gap);
        background-color: var(--color-primary-dark);
        .column__1{
            z-index: 1;
            padding-right: calc((1 - var(--stack)) * 20% + var(--stack) * 0%);
            p{
                color: var(--color-gray);
                font-weight: 400;
                font-size: calc((1 - var(--stack)) * var(--size-4xl) + var(--stack) * var(--size-2xl));
                line-height: 1.2;
            }
        }
        
    }

    .section__clients{
        padding-inline: var(--gap);
        .column__1{
            ul.listado{
                padding-top: clamp(3rem, 5vh, 7rem);
                grid-template-columns: var(--grid6);
                gap: 2rem;
                li.client__card{
                    list-style: none;
                    border: 0px solid var(--color-gray);
                    padding: 18%;
                    border-radius: var(--radius);
                    background-color: #ffffff50;
                }
            }
        }
    }

}








