.cursor-tooltip {
  background-color: var(--color-accent);
  color: var(--page-bg-color);
  padding: 0.5rem 1rem;
  border-radius: 100px;
  font-size: var(--size-sm);
  white-space: nowrap;
  will-change: transform;
}